
<header>
  <h1>Mr. Worldwide</h1>
  <h3>Dale!</h3>
</header>
<main>
  <% @videos.each do |stuff| %>
    <article>

      <%= link_to stuff.title, stuff.youtube_link %>
      <%= raw stuff.embed %>

    </article>
  <% end %>
</main>
